<div *ngIf="cargar">
  <img src="https://i.gifer.com/COAG.gif" class="cargando" alt="" />
</div>
<div *ngIf="!cargar">
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">League Of Legends</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <p>Daniel Ricardo Zuluaga Lezcano</p>
          </li>
        </ul>

        <form class="d-flex" role="search">
          <input
            [(ngModel)]="busquedas"
            (keyup)="onKeyUp($event)"
            [ngModelOptions]="{ standalone: true }"
            class="form-control me-2"
            type="search"
            [placeholder]="busquedas"
            aria-label="Search"
          />
          <button
            class="btn btn-outline-success"
            type="submit"
            (click)="bsCm(busquedas)"
          >
            Buscar
          </button>
        </form>
      </div>
    </div>
  </nav>
  <div *ngFor="let cmp of campeonesFiltados | filtro: busquedas">
    <p *ngIf="busquedas != ''">
      <a href="#" (click)="value(cmp)">{{ cmp }}</a>
    </p>
  </div>
  <br />
  <div class="selector">
    <select
      [(ngModel)]="selectedValue"
      class="form-select"
      aria-label="Default select example"
      (click)="comprobacion()"
    >
      <option value="">campeones</option>
      <option selected *ngFor="let item of valor | keyvalue" [value]="item.key">
        {{ item.key }}
      </option>
    </select>
  </div>

  <br />
  <div *ngIf="sppinerCard">
    <div class="mostrar">
      <label>Activar el Splash</label>
      <input type="checkbox" [(ngModel)]="all" (click)="pasivas(all)" />
    </div>
    <!--cargar la pagina, buscar el diseño y mejorar el rendimiento para que solo cargue el body y no todo-->
    <button
      type="submit"
      (click)="onload()"
      class="btn btn-outline-success"
      type="submit"
      
    >
      recargar
    </button>
    <div class="container">
      <div class="row">
        <div class="col" *ngFor="let item of champions">
          <div class="card" style="width: 18rem">
            <img
              [src]="item.foto"
              class="card-img-top"
              alt="..."
              class="imagenes"
            />
            <div class="card-body">
              <h2 class="card-title">{{ item.nombre }}</h2>

              <h3 class="card-text">
                {{ item.descripcion }}
              </h3>
              <div>
                <p href="#" class="btn btn-primary">{{ item.apodo }}</p>
                <img
                  *ngIf="!pasivaActiva"
                  [src]="item.spla"
                  alt=""
                  class="splash"
                />
              </div>
            </div>
            <div *ngIf="sppiner" class="spinner-border m-5" role="status"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
